@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ds38t4');
  src:  url('fonts/icomoon.eot?ds38t4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ds38t4') format('truetype'),
    url('fonts/icomoon.woff?ds38t4') format('woff'),
    url('fonts/icomoon.svg?ds38t4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trofeu:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e900";
}
